<div class="handle"></div>
<pre>[09:46:27] Finished 'reload' after 652 μs
[09:47:06] Starting 'browserify-dev'...
[09:47:07] Finished 'browserify-dev' after 548 ms
[09:47:07] Starting 'reload'...
[09:47:07] Finished 'reload' after 873 μs
[09:48:12] Starting 'browserify-dev'...
[09:48:13] Finished 'browserify-dev' after 556 ms
[09:48:13] Starting 'reload'...
[09:48:13] Finished 'reload' after 4.08 ms
[09:53:03] Starting 'browserify-dev'...
[09:53:04] Finished 'browserify-dev' after 556 ms
[09:53:04] Starting 'reload'...
[09:53:04] Finished 'reload' after 1.08 ms
[09:53:52] Starting 'browserify-dev'...
[09:53:53] Finished 'browserify-dev' after 580 ms
[09:53:53] Starting 'reload'...
[09:53:53] Finished 'reload' after 696 μs
[09:54:58] Starting 'browserify-dev'...
[09:54:59] Finished 'browserify-dev' after 523 ms
[09:54:59] Starting 'reload'...
[09:54:59] Finished 'reload' after 917 μs
[09:55:24] Starting 'browserify-dev'...
[09:55:24] Finished 'browserify-dev' after 560 ms
[09:55:24] Starting 'reload'...
[09:55:24] Finished 'reload' after 692 μs
[09:55:28] Starting 'browserify-dev'...
[09:55:28] Finished 'browserify-dev' after 540 ms
[09:55:28] Starting 'reload'...
[09:55:28] Finished 'reload' after 700 μs
[09:56:26] Starting 'browserify-dev'...
[09:56:27] Finished 'browserify-dev' after 562 ms
[09:56:27] Starting 'reload'...
[09:56:27] Finished 'reload' after 1.79 ms
[09:56:59] Starting 'browserify-dev'...
[09:56:59] Finished 'browserify-dev' after 597 ms
[09:56:59] Starting 'reload'...
[09:56:59] Finished 'reload' after 711 μs
[09:57:27] Starting 'browserify-dev'...
[09:57:28] Finished 'browserify-dev' after 548 ms
[09:57:28] Starting 'reload'...
[09:57:28] Finished 'reload' after 1.06 ms
[09:59:03] Starting 'less-dev'...
[09:59:03] Finished 'less-dev' after 3.97 ms
[09:59:03] Starting 'reload'...
[09:59:03] Finished 'reload' after 1.01 ms
[09:59:25] Starting 'less-dev'...
[09:59:25] Finished 'less-dev' after 1.56 ms
[09:59:26] Starting 'reload'...
[09:59:26] Finished 'reload' after 771 μs
[10:00:22] Starting 'less-dev'...
[10:00:22] Finished 'less-dev' after 945 μs
[10:00:22] Starting 'reload'...
</pre>
