<div class="props">
  <header>
    <span class="name">Properties</span>
  </header>
  <form class="block-conf">
    <label for="bc-name">Name</label>
    <input type="text" id="bc-name" name="name"/>
  </form>
</div>
