svg {
    background: #777;
    cursor: pointer;
    -webkit-user-select: none;
}
svg .input {
    fill: green;
    stroke: black;
    stroke-width: 1
}
svg .output {
    fill: red;
    stroke: black;
    stroke-width: 1;
    &.blank {
      fill: rgba(255,0,0,0.4);
    }
}
svg .title {
    font-family: Menlo;
    fill: white;
    font-size: 12;
    text-anchor: middle;
}
svg .box {
    filter: url(#dropshadow);
    fill-opacity: 0.5;
}
