<div class="handle"></div>
<div class="controls">
  <button class="run">Upload</button>
  <button class="pause">Pause</button>
  <button class="stop">Stop</button>
  <button class="clear">Clear</button>
</div>
<pre>
</pre>
